
//light mode
$colorBodyBackgroundLight: linear-gradient(#E1C8FF, #9E77CE);
$colorTextLight: #482151;
$filterSvgLight: brightness(0) saturate(100%) invert(16%) sepia(11%) saturate(3651%) hue-rotate(245deg) brightness(98%) contrast(95%);
$buttonBorderLight: linear-gradient(to bottom, #9E77CE, #402866);//border-width: 2px; border-style: solid; border-image: 
$colorButtonBackgroundLight: #E1C8FF;
$colorEventBackgroundLight: #fff;
$colorButtonShadowLight: 4px 4px 4px rgba(64, 40, 102, 0.5);  
$colorEventShadowLight: 5px 5px 5px rgba(64, 40, 102, 0.5);  


//dark mode
$colorBodyBackgroundDark: linear-gradient(#402866, #482151);
$colorTextDark: #fff;
$filterSvgDark: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(181deg) brightness(103%) contrast(103%);
$buttonBorderDark: linear-gradient(to bottom, #E1C8FF, #9E77CE);//border-width: 2px; border-style: solid; border-image: 
$colorButtonBackgroundDark: #72539F;
$colorEventBackgroundDark: #72539F;
$colorButtonShadowDark: 4px 4px 4px rgba(0, 0, 0, 0.5); 
$colorEventShadowDark: 5px 5px 5px rgba(0, 0, 0, 0.5); 

