@import "colors";
html[data-theme="light"] {
    --colorBodyBackground: #{ $colorBodyBackgroundLight };
    --colorText: #{ $colorTextLight };
    --filterSvg: #{ $filterSvgLight };
    --buttonBorder: #{ $buttonBorderLight };
    --colorButtonBackground: #{ $colorButtonBackgroundLight };
    --colorEventBackground: #{ $colorEventBackgroundLight };
    --colorButtonShadow: #{ $colorButtonShadowLight };
    --colorEventShadow: #{ $colorEventShadowLight };
}

html[data-theme="dark"] {
    --colorBodyBackground: #{ $colorBodyBackgroundDark };
    --colorText: #{ $colorTextDark};
    --filterSvg: #{ $filterSvgDark };
    --buttonBorder: #{ $buttonBorderDark };
    --colorButtonBackground: #{ $colorButtonBackgroundDark };
    --colorEventBackground: #{ $colorEventBackgroundDark };
    --colorButtonShadow: #{ $colorButtonShadowDark };
    --colorEventShadow: #{ $colorEventShadowDark };
}