footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2dvw auto;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.github {
    padding: 1dvw;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        transform: scale(130%); //rotate(45deg);
    }

}

.github-name {
    display: none;
    text-decoration: none;
    color: var(--colorText);
    background-color: var(--colorEventBackground);
    padding: 1dvw;
    border-radius: 1dvw;

}
a {
    text-decoration: none;
}

.github:hover+.github-name {
    display: block;
}