header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // height: 10dvh;
    padding: 2.5dvw;
}

.mode-button {
    filter: var(--filterSvg);
    cursor: pointer;
    transition: 0.5s;


    &:hover {
        transform: scale(130%) rotate(-45deg);
    }
}

.mode {
    background-color: transparent;
    border: none;
}

.name {
    width: 25dvw;
}

.logo {
    width: 7.5dvw;
}

.svgLightMode {
    filter: var(--filterSvg);
}

.svgDarkMode {
    filter: var(--filterSvg);
}

@media (min-width: 768px) {

    .mode-button,
    .sort-button,
    .filter-button,
    .github {
        height: 25px;
    }

    .addDate,
    .submit {
        border-radius: 1.8rem;
    }

    #addEvent {
        border-radius: 1.8rem;
    }

}