body {
    background-image: var(--colorBodyBackground);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100dvh;
    color: var(--colorText);
    margin: 0;
    font-family: Lalezar;
    letter-spacing: 0.07rem;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    background-color: var(--colorBodyBackground);
    color: var(--colorText);

    &::placeholder {
        color: var(--colorText);
    }
}

label,
h2 {
    background-color: var(--colorEventBackground);
    color: var(--colorText);
    font-family: Lalezar;
    text-transform: none;
}

textarea {
    border: 1px solid var(--colorText);
}

#newEventDescri {
    background-color: var(--colorBodyBackground);
    color: var(--colorText);

    &::placeholder {
        color: var(--colorText);
    }
}

.sort,
.filter {
    background-color: transparent;
    border: none;
}

.container-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 100dvw;
    margin-bottom: 2.5dvw;
}

.events {
    display: flex;
    justify-content: center;
    padding: 2.5dvw;
}

.side-menu {
    display: flex;
    flex-direction: row;
    padding-right: 2.5dvw;
 
}

.empty {
    width: 10dvw;
}

#addEvent {
    font-family: Lalezar;
    font-size: 3dvw;
    text-transform: lowercase;
    background-color: var(--colorButtonBackground);
    color: var(--colorText);
    box-shadow: var(--colorButtonShadow);    
    border: none;
    border-radius: 0.8rem;
    width: 25dvw;
    height: 5dvw;
    text-align: center;
    cursor: pointer;
    &:hover {
        border: 2px solid var(--colorText);
    }

}

.add-event {
    .light {
        background-color: var(--colorButtonBackground);
        color: var(--colorTextLight);
        box-shadow: var(--colorButtonShadow);
        border: 2px solid var(--colorText);
    }

    &.dark {
        background-color: var(--colorButtonBackground) !important;
        color: var(--colorText);
        box-shadow: var(--colorButtonShadow) !important;
        border: 2px solid var(--colorText);
    }
}

.formContent {
    .light {
        background-color: var(--colorEventBackground);
        color: var(--colorText);
    }

    &.dark {
        background-color: var(--colorEventBackground) !important;
        color: var(--colorText) !important;
    }
}

.addDate,
.submit {
    margin-top: 1dvh;
    width: 25dvw;
    height: 5dvw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.8rem;

}