body {
    background-image: var(--colorBodyBackgroundLight);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100dvh;
    color: var(--colorTextLight);
    margin: 0;
    font-family: Lalezar;
}

body.light {
    background-image: var(--colorBodyBackgroundLight);
    color: var(--colorTextLight);
}

body.dark {
    background-image: var(--colorBodyBackgroundDark);
    color: var(--colorTextDark);
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sort, .filter {
    background-color: transparent;
    border: none;
}
.container-main {
    display: flex;
    flex-direction: row;
    align-content: center;
    }

.side-meny {
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
}

#addEvent {
    font-family: Lalezar;
    font-size: 1rem;
    text-transform: lowercase;
    background-color: var(--colorButtonBackgroundLight);
    color: var(--colorTextLight);
    box-shadow: var(--colorButtonShadowLight);
    border: 2px solid var(--colorTextLight);
    border: none;
    border-radius: 0.8rem;
    width: 30dvw;
    height: 6dvw;
    text-align: center;
}

.add-event {
    .light {
        background-color: var(--colorButtonBackgroundLight);
        color: var(--colorTextLight);
        box-shadow: var(--colorButtonShadowLight);
        border: 2px solid var(--colorTextLight);
    }

    &.dark {
        background-color: var(--colorButtonBackgroundDark) !important;
        color: var(--colorTextDark);
        box-shadow: var(--colorButtonShadowDark) !important;
        border: 2px solid var(--colorTextDark);
    }
}

.formContent {
    .light {
        background-color: var(--colorEventBackgroundLight);
    }
    &.dark {
        background-color: var(--colorEventBackgroundDark) !important;
    }
}

.addDate, .submit {
   margin-top: 1dvh;
   width: 30dvw;
   height: 6dvw;
   margin-left: auto;
   margin-right: auto;
   border-radius: 0.8rem;  
  
}