#formModal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #000; /* Fallback color */
    background-color: #0000006b; /* Black w/ opacity */
    display:none;

    .formContent {
        background-color: #fff;
        position:relative;
        margin:auto;
        margin-top:20%;
        width:80%;
        border: 3px solid;
        border-color: var(--colorText);
        color: var(--colorTex);
        padding:1rem;
        display: flex;
        flex-direction: column;
        border-radius:10px;
        box-shadow: var(--colorEventShadow);

        .close {
            color: var(--colorText);
            position:absolute;
            right:5%;
            font-size: 28px;
            font-weight: bold;
            transition: 0.5s;
            &:hover {
              transform: scale(130%);
              cursor: pointer;
          }
            
          }

          h2 {
            text-align:center;
            letter-spacing: 0.07dvw;
          }
    }

}