footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2dvw auto;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.github {
  padding: 1dvw;
}